.wrapper__text{
  margin-left: 20px;
  width: 100%;
  .title{
    margin: 15px 0 0 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
  text-align: left;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
  }
  .subTitle{
    margin-top: 5px;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
  }
}
.wrapper__withBorder{
  @extend .wrapper__text;
  border-bottom: 1px solid #EEEEEE;
  width: 100%;

  .title{
    color: #081F32;
  }
  .subTitle{
    color: #6E798C;
  }
}